# Copy to /etc/systemd/system/ and enable/start/stop/status
#
#	sudo cp ledtest.service /etc/systemd/system/
#
# 	sudo systemctl enable ledtest.service
#	sudo systemctl start ledtest.service
# 	sudo systemctl stop ledtest.service
#	sudo systemctl status ledtest.service
#
#   can also use "sudo service ledtest start", etc...

[Unit]
Description=LedTest Gateway
After=network.target

[Service]
ExecStart=/home/franck/LinuxGateway
Restart=always
RestartSec=15
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target